.NavBar{
    background-color:lightgray;
    opacity: 0.5;
    height:100px;
    width: 100%;
    z-index: 1;
    text-align: center;
    margin-bottom: 50px;
    .NavItem{
        font-weight: bold;
        font-size: 18px;
        color:black;
        opacity: 1;
    }

    
}